// ----------------------------------------------------------
// Variables
// ----------------------------------------------------------

$red: #E65D87;
$blue: #0E8EDE;
$white: #fff;
$grey-1: #e5e5e5;
$grey-2: #535C61;
$black: #15181b;
$navbar-height: 6rem;

// ----------------------------------------------------------
// Generic styling
// ----------------------------------------------------------

* {
  font-family: 'Space Mono', monospace;
  scroll-behavior: smooth;
}

html, body {
  padding: 0;
  margin: 0;
}

p, span {
  color: $grey-2
}

// ----------------------------------------------------------
// Navbar section
// ----------------------------------------------------------

.navbar {
  position: sticky;
  top: 0;
  height: $navbar-height;
  background: $white;
}

.navbar-logo {
  height: 2rem;
}

.logo {
  height: 100%;
  width: auto;
}

.navbar-link,.navbar-link:active {
  color: $grey-2;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 100;
  border-bottom: 2px solid transparent;
}

.navbar-link:hover, .navbar-link:focus {
  color: $black;
  font-weight: 900;
}

.navbar-btn {
  border: 1px solid $grey-2;
  background: none;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

#navbar-open-btn {
  display: none;
}

#navbar-close-btn {
  display: flex;
}

#navbar-close:hover, #navbar-close:focus {
  background: $grey-1;
}

#navbar-open {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: $white;
}

#navbar-open .navbar-link {
  margin: 0;
}

// ----------------------------------------------------------
// Portfolio section
// ----------------------------------------------------------

#portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.portfolio-item {
  border: 1px solid $grey-1;
}

.portfolio-item a {
  color: $black;
}

.portfolio-item img {
  width: 100%;
  -webkit-user-drag: none;
}

// ----------------------------------------------------------
// Skills section
// ----------------------------------------------------------

#skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.skill {
  border: 1px solid $grey-1;
}

.skill img {
  height: 100px;
}

// ----------------------------------------------------------
// Footer section
// ----------------------------------------------------------

.footer {
  background: $black;
  color: $white;
}

// ----------------------------------------------------------
// Media queries for responsive
// ----------------------------------------------------------

// When screen is smaller than 991 px (tablets, phones)
@media only screen and (max-width: 991px) {
  // Hide the desktop links
  #navbar-links {
    display: none;
  }

  // Show the button to open mobile navbar
  #navbar-open-btn {
    display: flex;
  }
}

// When screen is smaller than 768px (tablets, phones)
@media only screen and (max-width: 768px) {
  // Make portfolio items 1 column wide
  #portfolio-container {
    grid-template-columns: 1fr;
  }

  // Make skills items 3 columns wide
  #skills-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// When screen is smaller than 390px (small phones)
@media only screen and (max-width: 390px) {
  // Make skills items 2 columns wide
  #skills-container {
    grid-template-columns: 1fr 1fr;
  }
}
