* {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --red: #E65D87;
    --blue: #0E8EDE;
    --white: #fff;
    --grey-1: #B3C0C7;
    --grey-2: #535C61;
    --black: #212A2F;
    --navbar-height: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
}

p, span {
    color: var(--grey-2)
}

.navbar {
    position: sticky;
    height: var(--navbar-height);
}

.navbar-logo {

}

.navbar-links {

}

.navbar-link {

}

.home {
    height: calc(100vh - var(--navbar-height));
}